In [2]:
import pandas as pd

In [1]:
## From csv file
df = pd.read_csv(_)

In [4]:
## From web (json)
import requests

api_data = requests.get("https://fakerapi.it/api/v2/products?_quantity=10")

In [10]:
df_api = pd.DataFrame(api_data.json()['data'])

In [12]:
df_api.head(2)

,id,name,description,ean,upc,image,images,net_price,taxes,price,categories,tags
0,1,Sit velit cumque natus qui.,Repellat rem soluta nam delectus aut sed dolor...,8799312631409,315284002203,http://placeimg.com/640/480/tech,"[{'title': 'Ut voluptatem eos quisquam.', 'des...",13947843.30,22,17016368.83,"[22, 23, 24, 25, 26, 27, 28, 29]","[perspiciatis, aut, deserunt, nihil, quia, et,..."
1,2,Facilis ut autem cupiditate.,Autem voluptas rerum et. A magnam ut quo quisq...,2823621561365,848712414190,http://placeimg.com/640/480/tech,"[{'title': 'Ipsa cumque dolorum rerum.', 'desc...",19.18,22,23.40,"[71, 72, 73, 74, 75]","[velit, culpa, laborum, tenetur]"

In [13]:
## JSon file

In [4]:
pd.read_json("api_info.json")

,id,name,description,ean,upc,image,images,net_price,taxes,price,categories,tags
0,1,Eaque illo et dolorem.,Qui exercitationem nihil ea repellendus et. Do...,6345023359082,377211944608,http://placeimg.com/640/480/tech,"[{'title': 'Deleniti eius modi qui quasi.', 'd...",2.781288e+05,22,3.393171e+05,"[39, 40, 41, 42, 43, 44, 45, 46]","[sequi, et, non, qui, ab, est, ea, nostrum]"
1,2,Ab sapiente officia amet.,Et nam sint molestias. Veniam et et quam sunt ...,6423164588452,864497227590,http://placeimg.com/640/480/tech,"[{'title': 'Iste sint sequi nulla non et.', 'd...",1.993891e+06,22,2.432547e+06,"[74, 75, 76, 77, 78, 79]","[ratione, vero, vel, non, error, earum, consec..."
2,3,Maxime illo labore aut.,Quos ab corrupti assumenda nihil molestias lau...,634970941928,951480282695,http://placeimg.com/640/480/tech,"[{'title': 'Rem nobis animi voluptas non.', 'd...",1.702635e+08,22,2.077214e+08,"[97, 98, 99, 100]","[autem, officia, qui, repellat]"
3,4,Sed quo non fugiat.,Libero sit et dicta exercitationem. Et nesciun...,2893129803427,464319461004,http://placeimg.com/640/480/tech,"[{'title': 'Dolor quis et sit.', 'description'...",6.037020e+04,22,7.365164e+04,"[14, 15, 16, 17, 18, 19, 20, 21]","[labore, nemo, ea, in, illum]"
4,5,Dignissimos quia velit omnis.,Praesentium cumque quod ipsam neque quis. Aspe...,3811538599792,418271886132,http://placeimg.com/640/480/tech,"[{'title': 'Qui itaque esse perferendis.', 'de...",7.402600e+02,22,9.031200e+02,"[59, 60, 61]","[vitae, illum, minus]"
5,6,Qui minus nemo omnis eveniet.,Expedita quis possimus voluptatem et ut non te...,5390413893494,830913999770,http://placeimg.com/640/480/tech,"[{'title': 'Eos adipisci dolorem ut.', 'descri...",2.600000e-01,22,3.200000e-01,"[83, 84, 85, 86, 87, 88, 89, 90, 91]","[laboriosam, qui, suscipit, autem, ut, volupta..."
6,7,Et dolor dolor eligendi a.,Provident rem sapiente at ducimus deleniti. Re...,5412916907055,737698998523,http://placeimg.com/640/480/tech,"[{'title': 'Et ab esse sunt dolores.', 'descri...",4.733750e+08,22,5.775175e+08,"[63, 64, 65, 66, 67]","[suscipit, quod, sed, aut, alias, cum]"
7,8,Non vel totam in hic omnis.,Doloremque deserunt exercitationem rerum quia ...,6198843864508,438858428536,http://placeimg.com/640/480/tech,"[{'title': 'Labore aperiam sunt et quam.', 'de...",1.715333e+08,22,2.092706e+08,"[83, 84, 85, 86, 87, 88, 89]","[qui, ex, ad, aut, non, minima, iusto, vero, q..."
8,9,Et eaque consequatur qui.,Nihil aut deserunt facere maxime fugit et. Imp...,9130632046112,410657101820,http://placeimg.com/640/480/tech,"[{'title': 'Rerum id et eum et.', 'description...",3.770000e+00,22,4.600000e+00,"[38, 39, 40, 41, 42, 43]","[nemo, enim, earum, saepe, et, repellat, animi..."
9,10,Accusamus eius in nihil.,Animi autem in ab et nam asperiores sit. Volup...,9948697541509,285263976769,http://placeimg.com/640/480/tech,"[{'title': 'Ut autem beatae sit quasi.', 'desc...",1.000000e-02,22,1.000000e-02,[55],"[magnam, aut, tempora]"

In [15]:
### From database

In [5]:
import sqlite3
conn = sqlite3.connect("sql-murder-mystery.db")

In [7]:
from_db = pd.read_sql("SELECT * FROM Person", conn)

In [8]:
from_db

,id,name,license_id,address_number,address_street_name,ssn
0,10000,Christoper Peteuil,993845,624,Bankhall Ave,747714076
1,10007,Kourtney Calderwood,861794,2791,Gustavus Blvd,477972044
2,10010,Muoi Cary,385336,741,Northwestern Dr,828638512
3,10016,Era Moselle,431897,1987,Wood Glade St,614621061
4,10025,Trena Hornby,550890,276,Daws Hill Way,223877684
...,...,...,...,...,...,...
10006,99936,Luba Benser,274427,680,Carnage Blvd,685095054
10007,99941,Roxana Mckimley,975942,1613,Gate St,512136801
10008,99965,Cherie Zeimantz,287627,3661,The Water Ave,362877324
10009,99982,Allen Cruse,251350,3126,N Jean Dr,348734531
10010,99990,Vance Hunten,830407,3056,Lancefield St,896677562